<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.triageapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Hospital Triage"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.triageapplication.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.triageapplication.HomePageActivity"
            android:label="@string/title_activity_home_page" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.triageapplication.RegisterNurseActivity"
            android:label="@string/title_activity_register_nurse" >
        </activity>
        <activity
            android:name="com.example.triageapplication.ReLoginActivity"
            android:label="@string/title_activity_re_login" >
        </activity>
        <activity
            android:name="com.example.triageapplication.CreatePatientActivity"
            android:label="@string/title_activity_create_patient" >
        </activity>
        <activity
            android:name="com.example.triageapplication.UpdatePatientActivity"
            android:label="@string/title_activity_update_patient" >
        </activity>
        <activity
            android:name="com.example.triageapplication.AccessRecordActivity"
            android:label="@string/title_activity_access_record" >
        </activity>
        <activity
            android:name="com.example.triageapplication.EnterUpdateInfoActivity"
            android:label="@string/title_activity_enter_update_info" >
        </activity>
        <activity
            android:name="com.example.triageapplication.RetryAddPatientActivity"
            android:label="@string/title_activity_retry_add_patient" >
        </activity>
        <activity
            android:name="com.example.triageapplication.ForceAccessRecordActivity"
            android:label="@string/title_activity_force_access_record" >
        </activity>
        <activity
            android:name="com.example.triageapplication.RetryUpdateInfo"
            android:label="@string/title_activity_retry_update_info" >
        </activity>
        <activity
            android:name="com.example.triageapplication.DisplayInformationActivity"
            android:label="@string/title_activity_display_information" >
        </activity>
        <activity
            android:name="com.example.triageapplication.AccessDisplayRecordActivity"
            android:label="@string/title_activity_access_display_record" >
        </activity>
        <activity
            android:name="com.example.triageapplication.DoctorHomePageActivity"
            android:label="@string/title_activity_doctor_home_page" >
        </activity>
        <activity
            android:name="com.example.triageapplication.NurseHomePageActivity"
            android:label="@string/title_activity_nurse_home_page" >
        </activity>
        <activity
            android:name="com.example.triageapplication.UpdatePrescriptionActivity"
            android:label="@string/title_activity_update_prescription" >
        </activity>
        <activity
            android:name="com.example.triageapplication.EnterPrescriptionInfoActivity"
            android:label="@string/title_activity_enter_prescription_info" >
        </activity>
        <activity
            android:name="com.example.triageapplication.UrgencyListViewActivity"
            android:label="@string/title_activity_urgency_list_view" >
        </activity>
        <activity
            android:name="com.example.triageapplication.DischargePatientActivity"
            android:label="@string/title_activity_discharge_patient" >
        </activity>
        <activity
            android:name="com.example.triageapplication.ForceAccessDisplayActivity"
            android:label="@string/title_activity_force_access_display" >
        </activity>
    </application>

</manifest>
